<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 3.51 Driver};Database=DND;Server=192.168.1.165;UID=sam;PWD=srowe9966;" />
    <add name="DNDConnectionString" connectionString="server=192.168.1.165;user id=sam;database=DND;password=srowe9966;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>
